*{
    padding: auto;
    margin: 0;
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
  }
dd{
    font-family: 'Otomanopee One', sans-serif;
    font-size: larger;
    background-color: #f0efeb;
    border-bottom: 1px solid #CCC;
}
dt{
    font-family: 'Otomanopee One', sans-serif;
    text-align: left;
    font-size: xx-large;
    background-color: #eae4e9;
}
