*{
    padding: auto;
    margin: 0;
    
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    text-align: center;
  }
title{
    z-index: 1;
}  
dd{
    font-family: 'Anton', sans-serif;
    font-size: larger;
    background-color: #f0efeb;
    border-bottom: 1px solid #CCC;
    letter-spacing: .1em;
    line-height: 3rem;
    position: -webkit-sticky;
    position: sticky;
     top: -1px;
}
dt{
    font-family: 'Otomanopee One', sans-serif;
    text-align: left;
    font-size: xx-large;
    background-color: #eae4e9;
    position: -webkit-sticky;
    position: sticky;
     top: -1px;
}

dt span{
    font-size: 1.5em;;
}

