@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width:100%;
    height:100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #cfe1b9;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.main h1{
  color:#9fa051;
    font-size:3rem;
    text-transform: uppercase;    
}
#input_text{
    width:500px;
    height:50px;
    font-weight: 400;
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    padding:1rem;
    font-size:1.4rem;
}
#input_text:focus{
    outline:none;
}
#btn{
    position: relative;
    top:-9px;
    left:8px;
    width:50px;
    height: 50px;
    color:#b6b858;
    cursor:pointer;
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(209, 213, 219, 0.3);
   border-radius: 50%;
}


#btn i{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-60%,-50%);
    font-size:17px;
}
#content{
    width: 100%;
    padding:2rem;
    height:500px;
    overflow-y: auto;
}
#content::-webkit-scrollbar {
    width: .3rem;
    color:black;
}
 
#content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius:2rem;
}
 
#content::-webkit-scrollbar-thumb {
    backdrop-filter: blur(7px) saturate(166%);
    -webkit-backdrop-filter: blur(7px) saturate(166%);
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  outline: 1px solid darkgrey;
}
.center {
    opacity:0.5;
    background-color:transparent;
    text-decoration: line-through;
}

.items{
    margin:0.6rem auto;
    padding:1rem;
    width:80%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content:space-between;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    transition: all 1s ease;
}
.items h3{
  color:#b6b858;
    word-break:break-all;
    width:100%;
    cursor:pointer;
    transition: all 0.4s ease;
}

.prop{
    display: flex;
    justify-content: space-evenly;
}
.prop i{
    margin:0 0.4rem;
    cursor:pointer;
}
.prop i:nth-of-type(1):hover
{
color:green;
opacity:0.7;
transform:scale(1.2);

}
.prop i:nth-of-type(5):hover, .prop i:nth-of-type(4):hover
{
    color:#0088cc;
    transform:scale(1.2);

}
.prop i:nth-of-type(2):hover
{
color:red;
opacity:0.7;
transform:scale(1.2);
}
.prop i:nth-of-type(3):hover
{
transform:scale(1.2);
}
.top-back {
	-webkit-animation: top-back 0.7s ease-in both;
	        animation: top-back 0.7s ease-in both;
}
@-webkit-keyframes top-back {
    0% {
      -webkit-transform: translateY(0)  scale(1);
              transform: translateY(0)  scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
              transform: translateY(-600px) rotateX(-30deg) scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes top-back {
    0% {
      -webkit-transform: translateY(0)  scale(1);
              transform: translateY(0)  scale(1);
      -webkit-transform-origin: 50% 1400px;
              transform-origin: 50% 1400px;
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(-600px) ;
              transform: translateY(-600px);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @media screen and (max-width:1200px)
  {
    #input_text{
      width:790px;
      
    }
  }
  @media screen and (max-width:900px)
  {
    #input_text{
      width:550px; 
    }
  }
  @media screen and (max-width:670px)
  {
    #input_text{
      width:320px;

    }
  }
  @media screen and (max-width:430px)
  {
    #input_text{
      width:210px;
      
    }
    .prop i{
      font-size:0.7rem;
    }
    .main{
      margin:5rem 0;
    }
    .main h1{
      font-size:2.5rem;
    }
  }
  @media screen and (max-width:342px)
  {
    #input_text{
      width:170px;
      
    }
  }
  @media screen and (max-width:312px)
  {
    #input_text{
      width:130px;
      
    }
  }
  @media screen and (max-width:267px)
  {
    #input_text{
      width:90px;
      
    }
  }